<%- include('header', {data: data}); -%>

    <div class="flexbox-container">
        <div class="new-note">
            <br><br><br>New Note<br><span id="new-note-symbol">+</span>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <% for(let note of data.notes.slice().reverse()){ %>
        <div class="flexbox-item" id= <%= note._id %> >
            <div class="note-title"><%= note.title %></div>
            <div class="note-date"><%= note.dateModified %></div>
            <div class="note-content">
            <%= note.content %>
            </div>
        </div>
        <% } %>
    </div>

<%- include('footer', {data: data}); -%>